/* input field */
.form {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.input_Box {
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: white;
  border: none;
  box-shadow: 0 0 0 2px #00000057;
  outline: none;
  font-size: 20px;

  &:focus {
    box-shadow: 0 0 0 5000px #00000057;
  }
}

.submit_btn {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgb(2, 68, 201);
  color: white;
  font-size: 15px;
  position: absolute;
  top: 3px;
  right: -25px;
  transition: all 0.2s linear;
  cursor: pointer;

  &:active {
    scale: 0.9;
  }
}

/* Todo List */
.todoList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.singleTodo {
  list-style: none;
  background: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  padding: 20px 10px;
  border-radius: 5px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;

  & span {
    cursor: pointer;
    margin: 0 4px;
  }

  & .edit_field {
    width: 65%;
  }
}
